#main-body #game-body {
    background-image: url('./Everdell.png');
    border-radius: .5rem;
}

#main-body #game-body a {
    text-decoration: none;
    font-weight: bold;
}

.game-title {
    padding: 1rem;
    font-weight: bold;
    color: white;
}

