#main-body{
    padding: 10px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
  }

  .metal-mania-regular {
    font-family: "Metal Mania", system-ui;
    font-weight: 400;
    font-style: normal;
  }

  .loading {
    font-family: "Metal Mania", system-ui;
    font-weight: bold;
    font-size: 2.5rem;
    align-items: center;
    margin-top: 50px;
  }