#footer {
    background-image: url('./castle_fog.jpg');
    text-align: center;
    color: black;
    width: 100%;
    padding: 10px;
    opacity: .9;
    border-radius: .5em;
    margin-top: 1.5rem;
    font-family: "Metal Mania";
}

.icon-container {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    width: 15%;
}