#main-body #book-body {
    padding: 10px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
    background-image: url('./gardens-of-the-moon.webp');
    background-size: contain;
  }

  .loading {
    font-family: "Metal Mania", system-ui;
    font-size: 2.5rem;
    align-items: center;
    margin-top: 50px;
  }

  .error {
    color: red;
  }