#main-body{
    padding: 10px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
  }

  .loading {
    font-family: "Metal Mania", system-ui;
    font-size: 2.5rem;
    align-items: center;
    margin-top: 50px;
  }

  .error {
    color: red;
  }