#card-display {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

.book-card {
    width: 375px;
    height: 500px;
    color: white;
    margin: 10px;
    overflow: hidden;
}

