#card-display {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0 auto;
  }

.book-card {
    width: 400px;
    height: 575px;
    color: white;
    margin: 10px;
    opacity: .95;
    border: solid white 1px;
    box-shadow: 10px 10px 10px black;
}

.book-description {
    max-height: 150px;
    overflow: auto;
}

.card-title {
    height: 55px;

    & .book-subtitle {
            margin-top: 5px;
    }  
}

.card-body {
    height: 100px;
}