#card-display {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0 auto;
  }

.book-card {
    width: 375px;
    height: 500px;
    color: white;
    margin: 10px;
    opacity: .95;
    border: solid white 1px;
    box-shadow: 10px 10px 10px black;
}

.book-description {
    max-height: 150px;
    overflow: auto;
}
