#main-header {
    padding: 10px;
    width: 100%;
    background-size: contain;
    background-image: url('./castle_fog.jpg');
    font-family: "Metal Mania";
    font-weight: bold;
    font-size: 1.5rem;
}

#site-header {
    color: black;
    margin: 0;
}

.NavMenu {
    font-family: "Metal Mania";
    font-size: 1rem;
    width: 50%;
}

.navbar-nav {
    width: 100%;
    font-weight: bold;
    font-size: 1.15rem;
    justify-content: space-between;
}