#main-header {
    padding-top: 10px;
    width: 100%;
    background-size: contain;
    background-image: url('./castle_fog.jpg');
    font-family: "Metal Mania";
    font-weight: bold;
    font-size: 1.5rem;
    color: black;
     
    & a {
        text-decoration: none;
        color: black;
     }
}

/* This styling applies to the profile avatar component when displayed in the mobile device menu. */
.avatar {
    justify-content: center;
}

.navbar {
    margin: 0;
    font-family: "Metal Mania";
    font-size: 1rem;

    & .NavMenu {
        width: 50%;
    }
}

.navbar-nav {
    width: 100%;
    font-weight: bold;
    font-size: 1.15rem;
    justify-content: space-between;
}

/* This class is specifically for the responsive component that displays a menu on mobile device view ports */
.navbar-toggler {
    margin: 0 auto;
}