form .login-button {
    margin: 10px 0;
}

.login-form {
    margin-top: 20px;
    color: black;
    border-radius: .5em;

    & .login-link {
        margin-bottom: 10px;
    }

    & .login-field {
        background-color: white;
        border-radius: .3em;
    }
}